<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{ page.title }}</title>


    <link
      rel="stylesheet"
      href="/assets/talks/assets/css/reveal4.1.0/reset.css"
    />
    <link
      rel="stylesheet"
      href="/assets/talks/assets/css/reveal4.1.0/reveal.css"
    />
    <link
      rel="stylesheet"
      href="/assets/talks/assets/css/reveal4.1.0/simple.css"
      id="theme"
    />

    <!-- Theme used for syntax highlighting of code -->
    <link
      rel="stylesheet"
      href="/assets/talks/assets/css/reveal4.1.0/zenburn.css"
    />
    <link rel="stylesheet" href="/assets/talks/assets/css/talk.css" />

  </head>

  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
            {{content}}
        </section>
      </div>
    </div>
    <script src="/assets/talks/assets/js/reveal4.1.0/reveal.js"></script>
    <script src="/assets/talks/assets/js/reveal4.1.0/plugins/notes.js"></script>
    <script src="/assets/talks/assets/js/reveal4.1.0/plugins/highlight.js"></script>
    <script src="/assets/talks/assets/js/reveal4.1.0/plugins/math.js"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        viewDistance: 3,
        slideNumber: true,
        center: true,
				height: 720,
				margin: 0.05,
				minScale: 0.1,
  			maxScale: 5.0,
        transition: "none", // none/fade/slide/convex/concave/zoom
				{% if page.widescreen == true %}
				width: 1280,
				{% else %}
				width: 960,
				{% endif %}
        math: {
          mathjax:
            "https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js",
          config: "TeX-AMS_HTML-full",
          // pass other options into `MathJax.Hub.Config()`
          TeX: { Macros: { RR: "{\\bf R}" } },
        },
        plugins: [RevealHighlight, RevealNotes,RevealMath],
        dependencies: [{ src: "/assets/talks/assets/js/reveald3.js" }],
      });
    </script>
  </body>
</html>
